body{
    background-color: #1b1e23;
}
header{
    width: 100%;
    background-color: #413e3e;
    padding: 10px;
    color: #fff;
    height: 170px;
    position: relative;
}
.header-top{
    display: flex;
    align-items: center;
}
nav{
    align-self: flex-end;
    justify-content: flex-end;
    display: flex;
    right: 0;
    margin-right: 20px;
    position: absolute;
    bottom: 0;
}
nav a{
    text-decoration: none;
    color: #fff;
}
.nav-item{
    padding: 3px 5px;
    margin: 1px 5px;
    background-color: #ee2929;
    width: 65px;
    text-align: center;
}
.nav-item:hover{
    scale: 1.1;
    background-color: #b10f0f;
}
.title{
    font-size: 48px;
}
.logo{
    height: 160px;
}
table, td, th{
    border: solid 1px #1d1d1d;
    padding: 1px;
}