main{
    width: 100%;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 30%;
}
#tabvendas{
    background-color:antiquewhite;
    border-radius: 5px;
    margin-top: 25px;
    text-align: center;
    height: fit-content;
}
#tabprojecoes{
    background-color: antiquewhite;
    border-radius: 5px;
    margin-top: 25px;
    text-align: center;
    height: fit-content;
}
footer{
    background-color: #1b1e23;
    text-align: center;
    color: white;
}